
.dm-menu 
{
	line-height: $dm_lineheight;

	> ul
	{
		display: flex;
		flex-wrap: wrap;

		&:after
		{
			content: '';
			display: block;
			clear: both;
		}
	}
}


@import
	'align/menu_align',
	'border/menu_border',
	'logo/menu_logo';
