$dm_padding : 10px !default;

$dm_bg		: #eee;
$dm_color	: #333;

.dm-menu
{
	--dm-bg: $dm_bg;
	--dm-color: $dm_color;
}

$dm_menu_height				: 50px !default;
$dm_item_padding_left		: $dm_padding * 2 !default;
$dm_item_padding_right		: $dm_padding * 2 !default;

$dm_item_hover_color		: #333;
$dm_item_hover_bg			: #ccc;
$dm_item_current_color		: #eee;
$dm_item_current_bg			: #54b4eb;

.dm-menu
{
	--dm-menu-height: $dm_menu_height;
	--dm-item-hover-color: $dm_item_hover_color;
	--dm-item-hover-bg: $dm_item_hover_bg;
	--dm-item-current-color: $dm_item_current_color;
	--dm-item-current-bg: $dm_item_current_bg;
}

$dm_menu_padding_top 		: 0 !default;
$dm_menu_padding_bottom		: 0 !default;
$dm_menu_padding_left 		: 0 !default;
$dm_menu_padding_right 		: 0 !default;

$dm_lineheight	: 20px;
$dm_subitem_padding_top		: $dm_padding !default;
$dm_subitem_padding_bottom	: $dm_padding !default;
$dm_subitem_padding_left	: $dm_padding !default;
$dm_subitem_padding_right	: $dm_padding !default;

$dm_opt_menu_submenu		: true !default;

$dm_submenu_padding_top		: $dm_padding !default;
$dm_submenu_padding_bottom	: $dm_padding !default;
$dm_submenu_padding_left	: $dm_padding !default;
$dm_submenu_padding_right	: $dm_padding !default;

$dm_submenu_bg 				: #fff !default;
$dm_submenu_color			: #333 !default;

$dm_flyout_offset_left		: 70% !default;
$dm_flyout_offset_right		: 100% !default;

.dm-menu
{
	--dm-submenu-bg: $dm_submenu_bg;
	--dm-submenu-color: $dm_submenu_color;
}

$dm_opt_item_align_right: true !default;

$dm_opt_menu_item_bg: true !default;

$dm_opt_menu_item_border: true !default;

$dm_opt_item_icon		: true !default;

$dm_icon_padding_left	: $dm_item_padding_left  / 2 !default;
$dm_icon_padding_right	: $dm_item_padding_right / 2 !default;

$dm_opt_menu_item_subindicator: true !default;

$dm_opt_menu_align: true !default;

$dm_opt_menu_border		: true !default;

$dm_menu_border_color	: #54b4eb !default;
$dm_menu_border_width	: 5px !default;

.dm-menu
{
	--dm-menu-border-color: $dm_menu_border_color;
	--dm-menu-border-width: $dm_menu_border_width;
}

$dm_opt_menu_logo		: true !default;

$dm_logo_width			: 50px !default;

$dm_logo_padding_top	: $dm_padding / 2 !default;
$dm_logo_padding_bottom	: $dm_padding / 2 !default;
$dm_logo_padding_left	: $dm_padding !default;
$dm_logo_padding_right 	: $dm_padding !default;

.dm-menu
{
	--dm-logo-width: $dm_logo_width;
}

$dm_opt_menu_subitem_hover_bg	: $dm_opt_menu_submenu !default;

$dm_subitem_hover_bg 			: #f3f3f3 !default;

.dm-menu
{
	--dm-subitem-hover-bg: $dm_subitem_hover_bg;
}

$dm_opt_menu_subitem_border		: $dm_opt_menu_submenu !default;

$dm_subitem_border 				: rgba( #000, 0.1 ) !default;

.dm-menu
{
	--dm-subitem-border: $dm_subitem_border;
}
$dm_opt_item_submenu_align_right 	: $dm_opt_menu_submenu !default;
$dm_opt_subitem_submenu_align_right	: $dm_opt_menu_submenu !default;

$dm_opt_menu_submenu_arrow: $dm_opt_menu_submenu !default;

$dm_opt_menu_submenu_border: $dm_opt_menu_submenu !default;

$dm_opt_item_submenu_fullwidth: $dm_opt_menu_submenu !default;

$dm_opt_submenu_image		: $dm_opt_menu_submenu !default;

$dm_submenu_image_height 	: 150px !default;
$dm_submenu_image_width		: 300px !default;

$dm_opt_subitem_submenu_inline		: $dm_opt_menu_submenu !default;

$dm_inline_item_padding_top			: $dm_padding / 2 !default;
$dm_inline_item_padding_bottom		: $dm_padding / 2 !default;
$dm_inline_item_padding_left		: $dm_padding !default;
$dm_inline_item_padding_right		: $dm_padding !default;

$dm_opt_item_submenu_mega: $dm_opt_menu_submenu !default;

$dm_opt_menu_submenu_shadow : $dm_opt_menu_submenu !default;

$dm_submenu_boxshadow		: 0 5px 10px rgba( #000, 0.1 ) !default;

.dm-menu
{
	--dm-submnu-boxshadow: $dm_submenu_boxshadow;
}

$dm_opt_item_submenu_tabs	: $dm_opt_menu_submenu !default;

$dm_submenu_tabs_bg			: #f3f3f3 !default;

.dm-menu
{
	--dm-submenu-tabs-bg: $dm_submenu_tabs_bg;
}
