$dm_opt_subitem_submenu_inline		: $dm_opt_menu_submenu !default;

$dm_inline_item_padding_top			: $dm_padding / 2 !default;
$dm_inline_item_padding_bottom		: $dm_padding / 2 !default;
$dm_inline_item_padding_left		: $dm_padding !default;
$dm_inline_item_padding_right		: $dm_padding !default;
